<!--HTML AND CSS FOR ERROR, SUCCESS, INFORMATIONAL MESSAGES--> 

<style>
    .message-box {
        background-color: #e1dfdd;
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        padding: 10px 20px;
        border-radius: 5px;
        color: #1c5a89;
        text-align: center;
        z-index: 1000;
    }
    .close-btn {
        margin-left: 10px;
        cursor: pointer;
        font-weight: bold;
    }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="message-box">
            {{ message }}
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endfor %}
{% endif %}

    
    
    
    